
@import url('/css/roboto.css');
*::selection {
  background: none;
}

button::-moz-focus-inner {
  border: 0 !important;
}

body {
  background: #f9f9f9;
  margin: 0;
  margin-bottom: 11vmax;
  font-family: 'Roboto', arial, 'Noto Sans Japanese', sans-serif;
  --theme-color-bg: #ff5722;
  --theme-color-bg-light: #ff9762;
  --theme-color-fg: white;
  --button-bg: var(--theme-color-bg);
  --button-fg: var(--theme-color-fg);
}

header {
  background: var(--theme-color-bg);
  color: var(--theme-color-fg);
}

header nav ul {
  display: flex;
  padding: 0 1em;
  margin: 0;
  overflow-x: auto;
}

header nav ul li {
  display: inline-block;
  padding: 0.75em;
  font-weight: 500;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}
header nav ul li.active {
  border-bottom-color: white;
}
#back-gap {
  width: 0.75em;
}
#back-button {
  position: fixed;
  z-index: 999;
}
#back-button div {
  display: inline-block;
  vertical-align: middle;
}
#back-button div:before {
  content: "";
  display: block;
  width: 0.75em;
  height: 0.75em;
  border: 2px solid white;
  border-right-width: 0;
  border-bottom-width: 0;
  box-sizing: border-box;
  transform: rotate(-45deg);
}
#back-button div:after {
  content: "";
  display: block;
  width: 0.75em;
  height: 0;
  border: 1px solid white;
  position: relative;
  top: calc(-0.375em - 1px);

}

.albums, .artists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1.3vmin auto;
  width: 100vmin
}

.albums .album, .artists .artist {
  width: 46vmin;
  height: 46vmin;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  margin: 1.3vmin 0;
  background: #eee;
  overflow: hidden;
}

.artists .artist {
  height: 23vmin;
}

.albums .album img {
  width: 100%;
  min-height: 100%;
  position: absolute;
  background: #eee;
  top: 0;
}

.album .bar, .artist .bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: white;
  padding: 5px 8px;
  box-sizing: border-box;
  display: grid;
  grid-template-areas: "primary button"
                       "secondary secondary";
  grid-template-columns: 1fr auto;
}

.album .bar span, .artist .bar span {
  grid-area: primary;
}
.album .bar span.small {
  grid-area: secondary;
}
.album .bar button, .artist .bar button {
  grid-area: button;
  font-size: xx-small;
  right: 0;
  margin-top: -3em;
}

.bar span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
span.small {
  font-size: smaller;
  color: #767676;
}

.songs {
  margin: 1vmax auto;
  width: 100vmin;
  min-width: 80vw;
}

.songs > img {
  width: 100vmin;
  height: 100vmin;
  min-width: 80vw;
  min-height: 80vw;
  margin: -1vmax 0;
}

button.batch-add {
  position: relative;
  right: -75%;
  height: 5em;
  width: 5em;
  margin-top: -2.5em;
  border: none;
  border-radius: 100%;
  outline: none;
  background:
    no-repeat linear-gradient(white 0% 100%) 50% 50% / 10% 45%,
    no-repeat linear-gradient(white 0% 100%) 50% 50% / 45% 10%,
    var(--theme-color-bg);
}
button.batch-add:active {
  filter: brightness(0.8);
}

.songs > span {
  display: block;
  padding: 0em 1em 1em;
  color: #767676;
}

.albums > span {
  width: 100%;
  text-align: center;
  padding: 0.5em;
  color: #767676;
}

.songs .song {
  height: 10vmax;
  padding: 1vh 4vw;
  margin: 0 3vw;
  box-sizing: border-box;
  display: flex;
  background: white;
}
.songs .song:active {
  background: #ececec;
}

.songs .song img {
  height: 8vmax;
  width: 8vmax;
  background: #eee;
  box-sizing: content-box;
}

.songs .song .bar {
  width: 50vmin;
  flex-grow: 1;
  margin: auto 3vw;
}

.songs .song.active .bar span:first-child {
  font-weight: 500;
}

#player {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: #fefefe;
  position: fixed;
  z-index: 9999;
  top: 0;
  touch-action: none;
  overscroll-behavior: contain;
  transform: translateY(calc(100vh - 10vmax + 1px));
  transition: transform 0.3s ease;
  will-change: transform;
}
#player.hidden {
  transform: translateY(105vh);
  transition: none;
}
#player.hidden #current-thumb, #player.hidden button {
  opacity: 1;
}
body[data-player="open"] {
  overflow: hidden;
}
body[data-player="open"] #player {
  transform: none;
}
body[data-player="open"] #player #player-bar button {
  display: none;
}

#player #player-bar {
  height: 10vmax;
  display: flex;
  flex-shrink: 0;
  box-shadow: 0 0px 5px rgba(0, 0, 0, .7);
  z-index: 99;
  --button-bg: white;
  --button-fg: black;
}

#current-thumb, #player button {
  width: 8vmax;
  height: 8vmax;
  margin: auto 1vmax;
}
#player button {
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
  position: relative;
  flex-shrink: 0;
}
#player button.prev {
  --this-color: black;
  background:
    no-repeat linear-gradient(var(--this-color) 0% 100%) 25% 50% / 10% 51%,
    no-repeat linear-gradient(145deg, white 0% 36%, transparent 38%) 70% 20% / 71% 100%,
    no-repeat linear-gradient(35deg, white 0% 36%, transparent 38%) 70% 80% / 71% 100%,
    no-repeat linear-gradient(var(--this-color) 0% 100%) 50% 50% / 35% 95%
}
#player button.next {
  --this-color: black;
  background:
    no-repeat linear-gradient(var(--this-color) 0% 100%) 74% 50% / 10% 51%,
    no-repeat linear-gradient(-35deg, white 0% 36%, transparent 38%) 30% 20% / 71% 100%,
    no-repeat linear-gradient(215deg, white 0% 36%, transparent 38%) 30% 80% / 71% 100%,
    no-repeat linear-gradient(var(--this-color) 0% 100%) 50% 50% / 35% 95%
}
#player button[disabled] {
  --this-color: #b7b7b7;
}

body[data-state="paused"] #player button.control {
  background:
    no-repeat linear-gradient(215deg, var(--button-bg) 0% 36%, transparent 38%) 50% 20% / 71% 100%,
    no-repeat linear-gradient(-35deg, var(--button-bg) 0% 36%, transparent 38%) 50% 80% / 71% 100%,
    no-repeat linear-gradient(var(--button-fg) 0% 100%) 70% 50% / 44% 95%,
    var(--button-bg);
}
body[data-state="playing"] #player button.control {
  background:
    no-repeat linear-gradient(var(--button-fg) 0% 100%) 32% 50% / 13% 50%,
    no-repeat linear-gradient(var(--button-fg) 0% 100%) 68% 50% / 13% 50%,
    var(--button-bg);
}
body[body-state="buffering"] #player button.control {
  background:
    radial-gradient(8% 8% at 30% 50%, var(--button-fg) 80%, transparent),
    radial-gradient(8% 8% at 50% 50%, var(--button-fg) 80%, transparent),
    radial-gradient(8% 8% at 70% 50%, var(--button-fg) 80%, transparent),
    var(--button-bg);
}

#queue-manager {
  display: flex;
}
#queue-manager > button {
  margin: 0;
  font-size: 0.8em;
  flex-grow: 1
}
#queue-manager > button:active {
  background: #d2d2d2;
}

#player .song button.remove {
  width: 2.5em;
  height: 2.5em;
  border-radius: 100%;
  transform: rotate(45deg);
  background:
    no-repeat linear-gradient(black 0 100%) 50% 50% / 50% 7%,
    no-repeat linear-gradient(black 0 100%) 50% 50% / 7% 50%;
}
#player .song button.remove:active {
  background: #d2d2d2;
}

#player-bar > .bar {
  flex-grow: 1;
  margin: auto;
  overflow: hidden;
}

#player #queue {
  flex-grow: 1;
  overflow-y: auto;
  margin: 0;
}

#player #player-controls {
  height: 12vmax;
  flex-shrink: 0;
  position: relative;
}
#player-controls .bar {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
#player-controls button.control {
  border-radius: 100vmax;
}

#seekbar {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  margin: 0;
  display: block;
  height: 0px;
  --seekbar-color: var(--theme-color-bg);
  --seekbar-color-light: var(--theme-color-bg-light);
  --seekbar-track-bg: var(--seekbar-color-light);
}
#seekbar::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border: none;
  border-radius: 30px;
  background: var(--seekbar-color);
  margin-top: -5px;
}
#seekbar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 30px;
  background: var(--seekbar-color);
  margin-top: -5px;
}
#seekbar::-moz-range-track {
  width: 100%;
  height: 5px;
  background: var(--seekbar-track-bg);
}
#seekbar::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  background: var(--seekbar-track-bg);
}
#seekbar:focus {
  outline: none;
}

#time-progress, #time-duration {
  min-width: 40px;
  margin: 10px;
}
#time-duration {
  text-align: right;
}

@keyframes pulse {
  0% { box-shadow: 0px 0px 0px 0px grey; }
  100% { box-shadow: 0px 0px 0px 4px transparent; }
}

body[data-state="playing"] .song.active img {
  animation-duration: 0.4s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}
